
body{
    margin: 50px;
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
    }
.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 800px;
    box-shadow: 3px 3px 7px black;
    }
.container1{
    display: flex;
    height: 800px;
    position: relative;
    }
.container2{
    display: flex;
    width: 170px;
    height: 800px;
    background-color: rgb(255, 163, 72,0.6);
    }
.container3{
    display: flex;
    flex-direction: column;
    width: 1069px;
    height: 800px;
    border-left: 2px dashed gray;
    text-align: center;
    justify-content: center;
    }
.box0{
    width: 200px;
    height: 300px;
    }
.box1{
    width: 100px;
    height: 300px;
    background-color: black;
    border-bottom-right-radius: 40%
    }
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 800px;
    font-size: 70px;
    font-family: Courier New;
    }
.box2 > p{
    margin: 35px;
    }
.box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    
    }
.box3 > p{
    margin: 15px;
    }
.box4{
    border-left: 5px solid rgb(128, 128, 128,0.5);
    height: 800px;
    box-sizing: border-box;
    }
.icon{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-color: black;
    border-style: solid;
    padding: 10px 0px 0px 0px;
    border-width: 2px 0px 0px 0px;
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    left: 100px;
    }
.box5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 150px;
    padding: 100px 30px;
    }
.box5 button{
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    width: 105px;
    padding: 10px;
    border: none;
    background-color: rgb(128, 128, 128,0.5);
    color: white;
    }
.box5 button:link, button:visited{
    background-color: rgb(128, 128, 128,0.5);
    color: white;
    }
.box5 button:hover, button:active{
    background-color: rgb(70, 70, 70,0.8);
    }
.who > h1{
    font-style: italic;
    margin: 50px;
    font-size: 40px;
    }
#who1{
    position: relative;
    font-size: 20px;
    }
#education1{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 220px;
    line-height: 50px;
    font-size: 20px;
    }
#history1{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 220px;
    line-height: 50px;
    font-size: 20px;
    }
#skill1{
    position: relative;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 220px;
    line-height: 50px;
    }
#skillIcon{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
    }
#hobby1{
    position: relative;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 220px;
    line-height: 50px;
    }
#hobbyIcon{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 30px;
    }



@media screen and (max-width: 768px){
    html, body{
        margin: 10px;
        width: 100%;
        height: 815px;
        overflow-x: hidden;
    }
    .container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 392px;
        height: 815px;
       
    }
    .container1{
        display: flex;
        justify-content: space-around;
        width: 392px;
        position: relative;
     
    }
    .container2{
        width: 392px;
        height: 50px;
        position: absolute;
        top: 250px;
    }
    .container3{
        width: 392px;
        height: 500px;
        position: absolute;
        border-left: none;
        top: 300px;
        left: 0px;
   
    }
    .box0{
        width: 0px;
    }
    .box1{
        width: 55px;
        height: 180px;
        position: absolute;
        left: 50px;
        border-bottom-right-radius: 60%
    }
    .box2{
        line-height: 32px;
        height: 200px;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        right: 130px;
    }
    .box2 > p{
        margin: 15px;
    }
    .box3{
        height: 250px;
        position: absolute;
        right: 50px;
        font-size: 12px;
    }
    .box3 > p{
        font-family: 'Courier New', Courier, monospace;
        margin: 5px;
        font-size: 12px;
        line-height: 9px;
    }
    .box4{
        border-left: 3px solid rgb(128, 128, 128,0.5);
        height: 250px;
        position: absolute;
        right: 40px;
    }
    .icon{
        width: 30px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 0px 0px 0px;
        margin: 20px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        font-size: 22px;
        position: absolute;
        top: 10px;
        right: 11px;

    }
    
    .box5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: -90px;
        left: -30px;
        
    }
    .box5 button{
        font-size: 20px;
        width: 100%;
        padding: 10px;
    }
    .box5 button:link, button:visited{
        background-color: rgb(128, 128, 128,0.5);
        color: white;
    }
    .box5 button:hover, button:active{
        background-color: rgb(70, 70, 70,0.8);
    }
    .who > h1{
        font-size: 40px;
        margin: 0px 0px 50px 0px;
    }
    #who1{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }

    #education1{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    #history1{
             width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    #skill1{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    #skillIcon{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    #hobby1{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    #hobbyIcon{
        width: none;
        height: none;
        position: absolute;
        top: 10px;
        left: 0px;
        right: 0px;
        line-height: 40px;
        font-size: 20px;
    }
    
}
